<section class="section">
  <div class="container">
    <div class="columns is-mobile">
       <%= render 'feed' %>
    </div>
    <p class="columns is-mobile is-centered">
  <%= link_to 'Click here if you want to create a new event', new_event_path, class: "button is-danger is-light" %>
</p>
  </div>
  
</section>
